{% extends 'base.html' %}

{% block content %}
<div class="container pt-3">

  <h1 class="display-3">Send a Fax</h1>
  <form method="POST" action="{% url 'send' %}" enctype="multipart/form-data"> <!-- specify multipart post bc contains images -->
    {% csrf_token %} <!-- protects against XSS/CSRF -->
    <div class="form-group">
      <label for="recipient">Fax To</label>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">+1</span>
        </div>
        <input class="form-control" id="recipient" type="tel" name="recipient" placeholder="123-456-7890"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
      </div>
    </div>

    <div class="form-group mt-4">
      <label for="document">Document to Fax (PDF)</label>
      <input class="form-control-file" type="file" id="document" name="document" accept="application/pdf" required>
    </div>

    <input class="btn btn-primary" type="submit" value="Send!" />
  </form>
</div>
{% endblock %}