{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<h1>Create</h1>

<form method="POST" action="{% url 'send' %}" enctype="multipart/form-data"> <!-- specify multipart post bc contains images -->
    {% csrf_token %} <!-- protects our website from XSS/CSRF attacks -->
    Fax To:
    <br />
    <input type="text" name="fax_to" />
    <br />
    <br />
    Document to Fax:
    <br />
    <input type="file" name="pdf" />
    <br />
    <br />
    <input class="btn btn-primary" type="submit" value="Add Product"/>
</form>

{% endblock %}